---
import ProductsSection from './ProductsSection.astro';
import ProductsTitle from './ProductsTitle.astro';
import Item01Img from '@assets/image_item01.jpg';
import Item02Img from '@assets/image_item02.jpg';
import Item03Img from '@assets/image_item03.jpg';
import Item04Img from '@assets/image_item04.jpg';

const id = 'item';
const title = 'ITEM';
const subTitle = 'おうち時間にも<br />穏やかな余白を。';
const paragraphs = [
  'お気に入りの一杯をご自宅でも。<br />店内でお淹れしているブレンド豆や、<br />手軽に楽しめるドリップパックもご用意しています。',
];
---

<ProductsSection id={id}>
  <ProductsTitle title={title} subTitle={subTitle} paragraphs={paragraphs} />
  <ul class="item-list">
    <li class="product">
      <img src={Item01Img.src} alt="" class="product-image" />
      <div class="product-info">
        <h3 class="product-name">calmブレンド</h3>
        <p class="product-price">100gから販売しております。</p>
      </div>
    </li>
    <li class="product">
      <img src={Item02Img.src} alt="" class="product-image" />
      <div class="product-info">
        <h3 class="product-name">エチオピアブレンド</h3>
        <p class="product-price">100gから販売しております。</p>
      </div>
    </li>
    <li class="product">
      <img src={Item03Img.src} alt="" class="product-image" />
      <div class="product-info">
        <h3 class="product-name">calmブレンド 1袋</h3>
        <p class="product-price">¥200（税込）</p>
      </div>
    </li>
    <li class="product">
      <img src={Item04Img.src} alt="" class="product-image" />
      <div class="product-info">
        <h3 class="product-name">エチオピアブレンド 1袋</h3>
        <p class="product-price">¥200（税込）</p>
      </div>
    </li>
  </ul>

  <style lang="scss">
    .item-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: clamp-size(24) clamp-size(14);
    }

    .product {
      .product-image {
        aspect-ratio: 1 / 1;
      }

      .product-info {
        margin-top: clamp-size(8);
      }

      .product-name {
        font-size: clamp-size(12);
        line-height: 1;
      }

      .product-price {
        margin-top: clamp-size(4);
        font-size: clamp-size(10);
        line-height: 1;
      }
    }
  </style>
</ProductsSection>
